.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 60px;
}

.app__wrapper-img img{
    width: 80%;
}
.app__wrapper-info p{
    color: var(--color-grey);
    font-size: 17px;
}
.custom__botton{
    padding: 20px 30px;
}